@import 'variable.scss';
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background: $white-secondary;
}
img{
    width:100%;
}
ul{
    list-style-type: none;
    
}
p{
    color: $black-dark;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
h6{
    color: $black-dark;
}
.content_heading{
    text-align: center;
    background: $primary-light;
    padding: 10px 0 4px;
    color: $white-secondary;
    margin: 15px 0;
    h2{
        margin-bottom: 0;
    }
}
